<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,1},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{303,1},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{395,1},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{457,1},{16,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{427,1},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{303,63},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,63},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{475,1},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{475,95},{28,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{475,48},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{513,1},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{513,48},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{551,1},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{598,1},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{551,39},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{551,86},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{589,39},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{598,86},{36,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silver_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{245,1},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{349,1},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{395,63},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{457,63},{16,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{427,63},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{349,63},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{245,63},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cointextures.png</string>
            <key>size</key>
            <string>{644,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d86d4914935faf4c242948461e8298:78baaf2a61ce2569688f014af56f2c5d:4c1984a530d8c81ef6a7e9c72a7779a7$</string>
            <key>textureFileName</key>
            <string>cointextures.png</string>
        </dict>
    </dict>
</plist>
